@import '../../../styles/media-queries.css';

.hero {
  height: 20rem;
  background-image: linear-gradient(to right top, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.15)),
    url('./hexes.png');
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;

  @media (--media-min-medium) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.profileImage {
  margin-top: 0.5rem;
  height: 14rem;
  filter: grayscale() contrast(1.1);
  align-self: flex-start;

  @media (--media-min-medium) {
    height: 19rem;
    align-self: flex-end;
  }
}

.text {
  margin-top: 1rem;
  text-align: center;
  align-self: flex-end;

  @media (--media-min-small) {
    position: absolute;
    top: -0.5rem;
    right: 1rem;
  }

  @media (--media-min-smedium) {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  @media (--media-min-medium) {
    position: static;
    margin-top: -2rem;
    margin-right: 4rem;
    width: 19rem;
    align-self: center;
  }

  @media (--media-min-large) {
    margin-left: 4rem;
  }
}

.fullName {
  font-family: Rockwell;
  font-size: var(--font-title2-size);
  letter-spacing: 0.2rem;
  margin: 0;

  @media (--media-min-small) {
    font-size: var(--font-title1-size);
  }

  @media (--media-min-medium) {
    font-size: var(--font-title0-size);
  }
}

.firstName {
  color: var(--color-primary);
}

.lastName {
  color: var(--color-white);
}

.subtitle {
  margin: 0 1rem;
  font-size: var(--font-large-size);

  @media (--media-min-medium) {
    margin: 0;
    font-size: var(--font-title3-size);
  }
}
