.root,
.root:visited {
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0;
  border: 1px solid black;
  border-radius: 3px;
}

.root:hover {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-primary-highlight);
}

.primary {
  background: var(--color-primary);
}

.accent {
  background: var(--color-accent);
}
