@import '../styles/vars.css';
@import '../styles/media-queries.css';
@import './typography.module.css';

.root {
  text-decoration: none;
  color: inherit;
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 0;
}

.title {
  margin-top: 0;
  font-size: var(--font-small-size);
  line-height: var(--font-base-line-height);

  @media (--media-min-small) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }

  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.frame {
  background-color: rgb(218, 215, 194);
  border-radius: 2px;
  border: solid 2.5vmin rgb(214, 214, 214);
  border-top-color: rgb(230, 230, 230);
  border-right-color: rgb(214, 214, 214);
  border-bottom-color: rgb(197, 197, 197);
  border-left-color: rgb(214, 214, 214);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35) inset, 0 3px 5px 3px rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  padding: 1.5vmin;
  position: relative;
  text-align: center;
}

.frame:before {
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.35) inset;
  content: '';
  position: absolute;
  top: -1vmin;
  right: -1vmin;
  bottom: -1vmin;
  left: -1vmin;
}
.frame:after {
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.35);
  content: '';
  position: absolute;
  top: -1.25vmin;
  right: -1.25vmin;
  bottom: -1.25vmin;
  left: -1.25vmin;
}

.art {
  border: solid 2px;
  border-top-color: #ccb;
  border-right-color: #eed;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  min-width: 100%;
}
