@import '../styles/vars.css';
@import '../styles/media-queries.css';
@import './typography.module.css';

.root {
  display: block;
  text-decoration: none;
  text-align: center;
  color: inherit;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 24px 0 rgba(0, 0, 0, 0.1);
}

.header {
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  @media (--media-min-small) {
    height: 3.5rem;
  }
}

.title {
  color: white;

  font-size: var(--font-small-size);
  line-height: var(--font-base-line-height);

  @media (--media-min-small) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }

  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.artContainer {
  margin-bottom: 1rem;
}

.art {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.summary {
  padding-top: 0.8rem;
  border-top: 1px solid #ccc;
}
