@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}

.mainImage {
  position: relative;
  background: #eee;
  padding-bottom: calc(9 / 16 * 100%);

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }
}

.mainContent {
  @nest & a {
    color: var(--color-accent);

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }
}

.metaContent {
}

.releaseDate {
  composes: small from './typography.module.css';
  margin: 1.5rem 0 3rem;
}

.categories {
  composes: small from './typography.module.css';

  @nest & ul {
    list-style: none;
    padding: 0;
  }
}

.categoriesList {
  display: inline-block;
  margin: 0 0 1rem 0;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.buttons > * {
  margin: 0 1rem;
}
